<html>
<head><title>Campaigns</title>

</head>
<body>

  <h1>Campaigns</h1>
  <% @campaigns.each do |campaign| %>
    <a href="google.com"><%= campaign[:campaignName] %></a><br>
  <% end %>

</body>

</html>
