<!DOCTYPE HTML>
<html>
<head><title>Stats page for an event</title>
</head>
<body>
  <h1>Stats page for an event</h1>
    <ul>
    <% @events.each do |event| %>
      <li><%= "#{event[:hour]} o'clock had #{event[:count]} hits." %></li>
    <% end %>
  </ul>
</body>
</html>
