<!DOCTYPE HTML>
<html>
<head><title>IdeaBox Error</title>
</head>
<body>
  <h1>An Error Occured</h1>
  <a href="/">Go back</a>
  <p>akdsfl adslfj alsdj falksdj flasdj flajsdfl kasdklfk alsdkjf lasdkj flasdj flkajsdflkaj sdlfj asldfj alsdk fjlasdj flaksdj flaj sdlfkajsdlfkj aldsfj alsdj faldsj flaksd</p>
</body>
</html>
