<!DOCTYPE HTML>
<HTML>
<HEAD><TITLE>URL Statistics</TITLE>
</HEAD>
<BODY>

<h1>URL Statistics</h1>

<h2>Longest response time to shortest response time.</h2>
  <ul>
    <% @urls.each do |url| %>
      <li><%= "#{url.to_s}" %></li>
    <% end %>
  </ul>

</BODY>
</HTML>











